In [12]:
import pandas as pd
df=pd.read_csv('schoolproformainvoicedatesandexamcount.csv',
              usecols=['School Name', 'Creation Date', 'Proforma Amount', 'Proforma Date','Invoice Amount', 'Invoice Date', 'Exam Series Created'])
date_col = pd.DatetimeIndex(df['Invoice Date'],dayfirst=True)
df['Month'] = date_col.month
df.groupby('Month')['Invoice Amount'].sum()
df.head(10)

,School Name,Creation Date,Proforma Amount,Proforma Date,Invoice Amount,Invoice Date,Exam Series Created,Month
0,Shariff Nassir Girls Secondary,12/06/2019 00:00,28016.0,06/06/2022,40000.0,10/01/2021,32,1.0
1,Moi Forces Academy Mombasa,12/06/2019 00:00,40600.0,06/06/2022,40600.0,02/03/2020,78,3.0
2,Zimlat Hills Complex Schools,12/06/2019 00:00,29000.0,09/06/2022,29000.0,04/02/2020,9,2.0
3,Mombasa Sec For The Physically Handicapped,12/06/2019 00:00,28016.0,02/02/2022,49300.0,02/03/2020,44,3.0
4,Mtongwe Girls Secondary,12/06/2019 00:00,28016.0,02/02/2022,60000.0,02/03/2020,50,3.0
5,Mvita Boys Secondary School,12/06/2019 00:00,42108.0,02/02/2022,72732.0,02/03/2020,47,3.0
6,ST. TERESA'S GIRLS SECONDARY SCHOOL,18/09/2019 11:33,23200.0,02/02/2022,42300.0,02/03/2020,41,3.0
7,Mwahima Secondary School,23/09/2019 17:25,28016.0,09/06/2022,72732.0,16/02/2020,46,2.0
8,Changamwe Adventist Secondary School,11/10/2019 06:48,20000.0,09/06/2022,15720.0,02/03/2020,34,3.0
9,"Shimo la Tewa School, Mombasa",13/01/2020 06:29,58812.0,02/02/2022,190588.0,02/03/2020,57,3.0

In [10]:
def get_name():
    #Get the name from the user
    name = input("What is your name? ")
    
    """Make sure we take care of extra spaces and capitalize 
    the names"""
    name=name.strip().title()
    
    #Print out the name of the user.
    print(f"Hello {name}")
    return
get_name()

What is your name?     Ben
Hello Ben